:root {
    --primary-color:#007FFF;
    --secondary-color:#0044BA;
}

body {
    margin: 0;
    padding: 0;
    background: #EEE;
    font-family: 'Raleway', sans-serif;
}

.wrapper { 
    width: 100%;
    margin: 0;
    background: #FFF;
}

.wrapper .row {
    margin: 0;
    min-height: 100vh;
}

.title {
    color: #001A33;
}

h1.title {
    font-size: 6rem;
    font-weight: 900;
    line-height: 1.4rem;
}

h2.title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4rem;
}

a.btn {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    background: var(--primary-color, #007FFF);
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    color: #FFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease 300ms;
}

a.btn:hover {
    background: var(--secondary-color, #0044BA);
    color: #FFF;
}

a {
    padding: 0 0 .2rem;
    text-decoration: none;
    color: #555;
    font-weight: 700;
    transition: all ease 300ms;
}

a:hover {
    color: var(--primary-color, #007FFF);
}

a.copyright {
    font-family: 'Gaegu', cursive;
}

.full-body {
    min-height: 100vh;
    min-width: 100vw;
}

.row-colored {
    margin: 5px;
    padding: 5px;
    background: var(--secondary-color, #0044BA);
}

.col {
    padding: 0.5rem inherit;
}

.box {
    padding: 15px;
    background: var(--primary-color, #007FFF);
    color: #FFF;
    text-align: center;
}

.box.box-high {
    padding: 60px 15px;
}

.box.high-color {
    background: var(--secondary-color, #0044BA);
}


pre {
    overflow-x: auto;
    padding: 1.85em;
    border: 1px solid #E6E6E6;
    border-left-width: 1px;
    border-left-width: 5px;
    margin: 1.6em 0;
    font-size: .875em;
    background: #FCFCFC;
    white-space: pre;
    word-wrap: normal;
}

code {
    color: var(--primary-color, #007FFF);
}

code {
    font-family: monospace,serif;
    font-size: 1em;
}